<h3>Add New Restaurant</h3>
<%= form_for @restaurant, :url => { :controller => 'admin/restaurants', :action => 'create' } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= f.submit "Create" %>
<% end %>
